.search-area{
    background-color: orangered;
    color: #fff;
    border-radius: 10px;
    width: 30%;
}

.location-image img{
    width: 80%;
}
.card{
    color: blue;
}
.card li{
    float: left;
}
.card img{
    width: 20%;
}
